* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    height: 100vh;
    display: flexbox;
    overflow-x: hidden;
    
}

.search{
    display: flex;
    align-items: center;
    margin-right: 0;
}
.search form{
    display: flex;
    margin: 0;
}

.search input{
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px; 
}
.search input:hover{
    border: 1px solid #72a0d4;
}
.search button{
    padding: 10px;
    background-color: #b9b2b2;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 19px;
    cursor: pointer;
}
.search button:hover{
    background-color: #ccc;
}


a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}
h2 {
    text-align: center;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 70px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li a i {
    margin-right: 20px;
}

.navbar ul li:last-child a {
    margin-left: 50px;
}

/* Submenu */
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}

/* Hero */
.hero {
    margin-bottom: 30px;
}

  .hero .container {
    background: url('../images/hero-bg.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px;
}


.hero .content {
    width: 70%;
}

.hero .hero-text {
    width: 70%;
    margin-bottom: 20px;
}

/* Video */
.video {
    padding: 10px 0 40px;
}

.video-content {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.video-preview {
    margin-bottom: 20px;
}

/* Testimonials */
.testimonials {
    padding: 40px 0;
}

.testimonials .testimonials-heading {
    width: 700px;
    margin-bottom: 40px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.testimonials .card p:nth-child(2) {
    margin-top: 30px;
    font-weight: bold;
}

/* FAQ */
.faq {
    padding: 40px 0;
}

.faq .faq-group {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.faq .faq-group .faq-group-header {
    padding: 20px 0;
    margin-bottom: 15px;
    position: relative;
}

.faq .faq-group .faq-group-header h4 {
    font-weight: 600;
    width: 95%;
}

.faq .faq-group .faq-group-header i {
    position:  absolute;
    right: 0;
    top: 35px;
    font-size: 1.3rem;
    cursor: pointer;
}

.faq .faq-group .faq-group-body {
    display: none;
}

.faq .faq-group .faq-group-body.open {
    display: block;
}

.faq ul.faq-menu {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.faq ul.faq-menu li {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.faq ul.faq-menu li.active {
    background: var(--primary-color);
    color: #fff;
    
}

/* Footer */
.footer {
    padding:40px 0;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: #ccc;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer .card {
    margin: 20px 30px 30px 0;
}

.footer input[type='email'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 0 10px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 15px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text Classes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* Background */
.bg-primary {
    background: var(--primary-color);
    color: #fff;
}
.bg-light {
    background: var(--light-color);
    color: #333;
}
.bg-dark {
    background: var(--dark-color);
    color: #fff;
}
.bg-black {
    background: #000;
    color: #fff;
}

/* Card */
.card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}

/* Split */
.split {
    width: 100%;
    height: 100vh;
    display: flex;
}
.left {
    flex: 50%;
    background-color: #ffffff;
}
.right {
    flex: 50%;
    color: white;
    background-color: #111;
}

/* About Me */
.container-aboutme {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    margin-top: 4rem;
    text-align: center;
}
.container-aboutme h1 {
    color: #398f51;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 1rem;
    text-align: center;
}
.container-aboutme h2 {
    color: #777;
    font-size: 2rem;
    font-weight: 400;
}
.container-aboutme .image {
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.container-aboutme p {
    font-size: 1.5rem;
    color: #000000;
    line-height: 3rem;
    margin-bottom: 2rem;
}
.container-aboutme .btn {
    display: inline-block;
    padding: 2rem 4rem;
    margin-bottom: 1rem;
    background: #f6f6f6;
    font-size: 1.5rem;
    text-decoration: none;
    color: #398f51;
    border-radius: 5px;
    transition: background 0.5s;
}
.container-aboutme .btn:hover {
    background: #dadada
}

/* Hamburger Button */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}
.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
}
.mobile-menu.active {
    right: 0px;

}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}

/* Media Queries */
@media (max-width: 960px) {
    .text-xxl {
        font-size: 2.5rem;
    }
}
@media (max-width:670px) {
    .navbar .main-menu {
        display: none;
    }
    .navbar .hamburger-button {
        display: block;
    }
    .hero .container {
        background: url('../images/hero-bg-mobile.png') no-repeat;
        background-size: 350px 400px;
        background-position: bottom;
        height: 770px;
    }
    .hero .hero-content,
    .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }

    .testimonials .testimonials-heading {
        max-width: 100%;
        text-align: center;
    }

    .testimonials .testimonials-grid,
    .footer .footer-grid {
        grid-template-columns: 1fr;
    }

    .footer .card {
        margin-right: 0;
    }

    .footer .footer-grid > div {
        text-align: center;
    }

    /* Text */
    .text-xl {
        font-size: 1.9rem;
    }
    .text-lg {
        font-size: 1.5rem;
    }
    .text-md {
        font-size: 1.1rem;
    }
}
@media (max-width:500px) {
    .text-xxl {
        font-size: 2rem;
    }
}

/* Result Box (Search Bar) */
.result-box ul{
    display: inline-block;
    border: none;
    border-top: solid #999;
    padding: 0px;
}
.result-box ul li{
    list-style: none;
    border-radius: 1px;
    padding: 0px;
    cursor: pointer;
}
.result-box ul li:hover{
    background: #e9f3ff;
}

/* Searchbox */
.searchBox {
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 50px 30px;
    transition: 0.5s ease-in-out;
}
.searchBox.active{
    right: 0;
}
.searchBox input{
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    font-size: 1.25em;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.searchBtn {
    position: relative;
    z-index: 2;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.searchBtn.active {
    left: 0;
}
.closeBtn {
    position: relative;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}
.closeBtn.active {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}

/* Flier from Activating Fun */
.flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}